body {
  margin: 0;
}

.root {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;

}

.header {
  width: 100vw;
  height: 100px;
  background-color: green;
}
.main {
  height: 100%;
  background-color: yellow;
  display: flex;
}

.side-bar {
  background-color: aqua;
  /* flex: 1; */
  width: 100px;
}

.content {
  background-color: brown;
  flex: 1;
}