.box-1 {
  width: 200px;
  height: 200px;
  background-color: bisque;
  position: relative;
  margin-left: 200px;

}

.box-2 {
  width: 40px;
  height: 40px;
  background-color: rgb(63, 195, 63);

  position: absolute;
  bottom: 20px;
  right: 20px;
  border-radius: 20px;
}

.box-3 {
  width: 40px;
  height: 40px;
  background-color: rgb(252, 15, 15);

  position: absolute;
  bottom: 20px;
  right: 20px;
  border-radius: 20px;
}
